/* ==UserStyle==
@name			stackoverflow.com black and wide
@namespace		github.com/openstyles/stylus
@version		1.0.0
@description	Repo: https://gitlab.com/vitaly-zdanevich-styles/stackoverflow
@author			Vitaly Zdanevich
==/UserStyle== */

@-moz-document url-prefix("https://stackoverflow.com") {
	header.s-topbar {
		position: absolute !important;
		background: #000;
		border: 0;
	}

	.bb {
		display: none !important;
	}

	body {
		--theme-background-color: #000 !important;
	}

	#content {
		--theme-content-background-color: #000 !important;
		min-width: 100vw;
	}

	.container {
		margin: 0 !important;
	}

	#mainbar {
		width: 100%;
	}
}
